.wrapper {
  position: absolute;
  width: 75vw;
  height: 50vw;
  left: 12.5vw;
  top: 20%;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 2vw;
}

h2{
text-align: center;
}

.wrapper div{
    margin: 1vw 2vw;
}

.main{
display: flex;
line-height: 1.75em;
}

img{
    height: 30vw;
    margin: 5vw 0;
}

body{
    overflow: hidden;
}